.card h1{
    color:red;
}

.card h3{
    color:red;
}

a:hover{
    color:red;
}

h5 a{
    color:#000080;
    font-weight:bold;
}

.card{
    margin-bottom:20px;
}

body{
    background-color: #F5F5DC;
    height:100%;
}

#footer{
    background-color: #F5F5DC;
}

#nom{
    font-size: 70px;
}

#privee,#link,#cond,#propriete,#prop{
    margin-top:50px;
}

.titregras{
    font-weight: bold;
    margin-bottom:35px;
}
